In [1]:
a=["ram","shyam","sita","gita",12,12.5]
print(a)

['ram', 'shyam', 'sita', 'gita', 12, 12.5]

In [5]:
a=["ram","shyam","sita","gita",12,12.5]
print(a)
print("length of the string:",len(a))

['ram', 'shyam', 'sita', 'gita', 12, 12.5]
length of the string: 6

In [11]:
a=["ram","shyam","sita","gita",11,12.5]
print(a)
print("length of the list is:",len(a))
a[1]="sita"
a[2]="shyam"
print(a)

['ram', 'shyam', 'sita', 'gita', 11, 12.5]
length of the list is: 6
['ram', 'sita', 'shyam', 'gita', 11, 12.5]

In [17]:
#list sclicing
print(a[1])
print(a[0])
print(a[2])
print(a[3])
print(a[-1])
print(a[-4])

sita
ram
shyam
gita
12.5
shyam

In [20]:
#list clicing
a="Prajwal"
b=a[2:5]
print(b)

ajw

In [29]:
#updation of the list:
a=["ram","shyam","sita","gita",12,30.6]
b=a[:]
c=a[0:4]
d=a[1:]
e=a[:-1]
print(b)
print(c)
print(d)
print(e)

['ram', 'shyam', 'sita', 'gita', 12, 30.6]
['ram', 'shyam', 'sita', 'gita']
['shyam', 'sita', 'gita', 12, 30.6]
['ram', 'shyam', 'sita', 'gita', 12]

In [30]:
#upadation of the list:
a=["Ram","shyam",10,"sita",12.5]
print(a)
print("Length of the list:",len(a))
a[2]="ramesh"
print(a[2])

['Ram', 'shyam', 10, 'sita', 12.5]
Length of the list: 5
ramesh

In [31]:
print(a)

['Ram', 'shyam', 'ramesh', 'sita', 12.5]

In [37]:
#deleting list in python
a=["ram","shyam","sita","gita",10,12.6]
print("original list is:",a)
print("length of the list is:",len(a))
del a[4]
print(a)

original list is: ['ram', 'shyam', 'sita', 'gita', 10, 12.6]
length of the list is: 6
['ram', 'shyam', 'sita', 'gita', 12.6]

In [38]:
#list travalser in python
a=["ram","shyam","sita","gita",10,12.5]
print(a)
for i in a:
    print(i)

['ram', 'shyam', 'sita', 'gita', 10, 12.5]
ram
shyam
sita
gita
10
12.5

In [39]:
#Traversing of the list i python
a=["ram","shyam","sita","gita",12,12.5]
print(a)
for i in range(len(a)):
    print(a[i])

['ram', 'shyam', 'sita', 'gita', 12, 12.5]
ram
shyam
sita
gita
12
12.5

In [17]:
                         #List function      
#len() : this methon is used to find the length of the list
a=["ram","shyam","sita","gita","radha","Krishna"]
print("original list is:",a)
b=len(a)
print("lenth of the list: ",len(a))

original list is: ['ram', 'shyam', 'sita', 'gita', 'radha', 'Krishna']
lenth of the list:  6

In [18]:
#OR
a=["ram","shyam","sita","gita"]
print(a)
print(len(a))

['ram', 'shyam', 'sita', 'gita']
4

In [19]:
#max() and min() functions: this method is used to find min and max values in list

a=["ram","shyam","sita","gita","radharani","krishna"]
print("original list is:",a)
print(max(a))

original list is: ['ram', 'shyam', 'sita', 'gita', 'radharani', 'krishna']
sita

In [20]:
a=[10,20,30,40,90,60,70]
print(a)
print("max value in the list is:",max(a))

[10, 20, 30, 40, 90, 60, 70]
max value in the list is: 90

In [22]:
#OR
print(a)
b=max(a)
print("max value in the given list is:",b)

[10, 20, 30, 40, 90, 60, 70]
max value in the given list is: 90

In [23]:
#min function
a=[30,40,50,20,90]
print("origina list is:",a)
print(min(a))

origina list is: [30, 40, 50, 20, 90]
20

In [25]:
print(a)
b=min(a)
print("minimum value in list is:",b)

[30, 40, 50, 20, 90]
minimum list is: 20

In [ ]:
#CMP(): this method is used to compare two lists
#cmp() : syntax : cmp(list1,list2)

#return 1 : list1 is greter than list2
#return 0 : both the list are equal
#return -1 : list2 is greter tha list1

In [26]:
#append(): this method is used to add or append a object at the end of the list
a=["ram","shyam","sita ","gita"]
a.append("radhakrishna")
print(a)

['ram', 'shyam', 'sita ', 'gita', 'radhakrishna']

In [34]:
a=[]
for i in range(10):
    x=input("Enter item to add in list:")
    a.append(x)
print(a)

['5', 'radha', 'shyam', 'prajwal', '10', '70', '90', 'radhakrishna', 'ram', 'sita']

In [3]:
#count()
#this is method is use to count the frequency of a object
#a
# list.count("object")
a=["ram","shyam","sita","gita","ram","shyam"]
print(a)
b=a.count("ram")
c=a.count("shyam")
print(b)
print(c)

['ram', 'shyam', 'sita', 'gita', 'ram', 'shyam']
2
2

In [4]:
a=[]
for i in range(10):
    x=input("Enter the items to add in the list:")
    a.append(x)
x=input("Enter the value who frequency you want:")
f=a.count(x)
print("Frequncy is:",f)

Frequncy is: 1

In [1]:
#index()
#this method is used to find the index of a object/element in given list.
a=["ram","shyam","sita","ram","gita"]
x=a.index("ram")
print("index of ram:",x)

index of ram: 0

In [4]:
a=[]
for i in range(5):
    x=input("Enter the items to add in the list:")
    a.append(x)
print("original lis is: ",a)
I=input("Enter the items who index you want:")
i=a.index(I) 
print(i)

original lis is:  ['ram', 'sita', 'ram', 'gita', 'radha']
0

In [5]:
a=["ram","shyam","sita","gita"]
a[2]="radha"
print(a)

['ram', 'shyam', 'radha', 'gita']

In [6]:
#insert() this method is used to insert object or elemet at perticuler index
#syntax: list.insert(index,values/object)
a=["ram","shyam","sita","gita","radha"]
a.insert(1,"prajwal")
print(a)

['ram', 'prajwal', 'shyam', 'sita', 'gita', 'radha']

In [7]:
a=[]
for i in range(5):
    x=input("Enter the item to add in the list:")
    a.append(x)
print("original list is:",a)
index=int(input("Enter the index where you want to insert:"))
value=input("Enetr the value you ant to insert:")
a.insert(index,value) 
print("Insersion list:",a)

original list is: ['ram', 'shyam', 'sita', 'gita', 'radha']
Insersion list: ['ram', 'shyam', 'sita', 'gita', 'prajwal', 'radha']

In [1]:
#remove 
a=["ram","shyam",10,"radha","sita","shyam",10]
a.remove(10)
print(a)

['ram', 'shyam', 'radha', 'sita', 'shyam', 10]

In [3]:
a=[]
for i in range(5):
    x=input("Enter the items to add in list:")
    a.append(x)
print("Original list is:",a) 
value=input("Enter the value you want ot remove:")
a.remove(value)
print(a)

Original list is: ['ram', 'shyam', 'sita', 'gita', 'radha']
['ram', 'shyam', 'sita', 'radha']

In [4]:
#reverse
a=[10,20,30,40,50,60,70,80,90]
a.reverse()
print(a)

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [7]:
a=[]
for i in range(5):
    x=int(input("Enter the input to put in to the list:"))
    a.append(x)
print("Original list is:",a) 
a.reverse()
print("reverse list is:",a)

Original list is: [10, 20, 30, 40, 50]
reverse list is: [50, 40, 30, 20, 10]

In [8]:
#sort
a=[20,40,50,90,70,60]
a.sort()
print(a)

[20, 40, 50, 60, 70, 90]

In [9]:
#pop 
a=[10,20,30,40,50,60]
a.pop()
print(a)

[10, 20, 30, 40, 50]

In [10]:
a.pop()
print(a)

[10, 20, 30, 40]

In [12]:
a.pop()
print(a)

[10, 20, 30]

In [13]:
a=[10,20,30,10]
print(a)
del a[0]
print(a)

[10, 20, 30, 10]
[20, 30, 10]

In [17]:
a=[10,20,30,10]
print(a)
a.remove(10)
print(a)

[10, 20, 30, 10]
[20, 30, 10]

In [7]:
l1=[10,54.85,'sunday',10,20,True,[50,51,52],(70,71,72)]
print(l1)

[10, 54.85, 'sunday', 10, 20, True, [50, 51, 52], (70, 71, 72)]

In [2]:
print(type(l1))

<class 'list'>

In [6]:
l1[6:8]

[[50, 51, 52], (70, 71, 72)]

In [15]:
l1[6][1]

51

In [13]:
l1[6][0]

50

In [16]:
l1[6][2]

52

In [19]:
print("length of the list is:",len(l1))

length of the list is: 8

In [25]:
list1=[10,20,30,40,50,60,70]
print(list1)
x=list1[2:]
print(x)
y=list1[:6]
print(y)

[10, 20, 30, 40, 50, 60, 70]
[30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60]

In [28]:
list1=[10,20,30,40,50,60,70]
print("original list is:",list1)
x=list1[-1]
print(x)
y=list1[-2]
print(y)

original list is: [10, 20, 30, 40, 50, 60, 70]
70
60

In [31]:
list1=[10,20,30,40,50,60,70]
x=len(list1)
print("length of original list:",x)
list1[-4:-1]

length of original list: 7

[40, 50, 60]

In [34]:
list1[-4:]

[40, 50, 60, 70]

In [35]:
l1=[10,20,30,40,50,60]
print(l1)

[10, 20, 30, 40, 50, 60]

In [36]:
l2=[70,80,90,80]
print(l2)

[70, 80, 90, 80]

In [37]:
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 80]

In [40]:
print(l1+l2+[100,101,102,103,104,105])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 80, 100, 101, 102, 103, 104, 105]

In [44]:
list1=["prajwal","lily","radha","krishana"]
print(list1)
list1*3

['prajwal', 'lily', 'radha', 'krishana']

['prajwal',
 'lily',
 'radha',
 'krishana',
 'prajwal',
 'lily',
 'radha',
 'krishana',
 'prajwal',
 'lily',
 'radha',
 'krishana']

In [45]:
l2=[70,80,90,80]
print(l2*3)

[70, 80, 90, 80, 70, 80, 90, 80, 70, 80, 90, 80]

In [46]:
l1=[10,20,30,40]
print(10 in l1)

True

In [47]:
l1=[10,20,30,40,50]
print(l1)

[10, 20, 30, 40, 50]

In [61]:
#del()
l1=[10,20,30,40]
print(l1)
del l1[0:3]
print(l1)

[10, 20, 30, 40]
[40]

In [64]:
l1=[10,20,30,40]
l1.clear()
print(l1)

[]

In [66]:
l1=[10,20,30,40,50]
l1.remove(20)
print(l1)

[10, 30, 40, 50]

In [73]:
l1=[10,20,30,40,50]
l2=l1.pop(1)
print(l2)

20

In [3]:
l1=[1,2,3,4,5,6]
print(l1)
del l1[3]
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [5]:
l1=["prajwal","lilly","jully","ram","shyam","sita"]
print(l1)
del l1[:]
print(l1)

['prajwal', 'lilly', 'jully', 'ram', 'shyam', 'sita']
[]

In [8]:
l1=["prajwal","lilly","jully","ram","shyam","sita"]
print(l1)
l1.pop(1)
print(l1)

['prajwal', 'lilly', 'jully', 'ram', 'shyam', 'sita']
['prajwal', 'jully', 'ram', 'shyam', 'sita']

In [12]:
l1=["prajwal","lilly","jully","ram","shyam","sita","gita"]
print("original list is:",l1)
l1.remove("gita")
print(l1)

original list is: ['prajwal', 'lilly', 'jully', 'ram', 'shyam', 'sita', 'gita']
['prajwal', 'lilly', 'jully', 'ram', 'shyam', 'sita']

In [14]:
l1=["prajwal","shyam","lilly","jully","lilly","jully","prajwal","shyam"]
print(l1)
l1=list(set(l1))
print(l1)

['prajwal', 'shyam', 'lilly', 'jully', 'lilly', 'jully', 'prajwal', 'shyam']
['jully', 'shyam', 'lilly', 'prajwal']

In [18]:
l1=[10,20,30,40]
print(l1)
l1.append(50)
print(l1)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [20]:
#list in list
l1=[10,20,30,40,50,60]
print(l1)
l1.append([70,80,90])
print(l1)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, [70, 80, 90]]

In [27]:
#extend
l1=[10,20,30,40]
print("Original list :",l1)
print("Extended list is:",end="")
l1.extend([50,60,70,80,90])
print(l1)

Original list : [10, 20, 30, 40]
Extended list is:[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [29]:
a=[10,20,30,40,50,90]
print(a)
for i in a:
    print(i)

[10, 20, 30, 40, 50, 90]
10
20
30
40
50
90

In [33]:
l1=[10,20,30,40,50,70]
print("original list is:",l1)
for i in range(len(l1)):
    print(a[i])

original list is: [10, 20, 30, 40, 50, 70]
10
20
30
40
50
90

In [34]:
list=[]
for x in [10,20,30,40]:
    list.append(x*2)
print(list)

[20, 40, 60, 80]

In [35]:
[x*2 for x in [1,2,3,4,5,6]]

[2, 4, 6, 8, 10, 12]

In [36]:
[x*3 for x in [10,20,30,40,50,60]]

[30, 60, 90, 120, 150, 180]

In [40]:
list1=["Rick","Jim","Mark","29","28","27"]
print(list1)
list1.sort()
print(list1)

['Rick', 'Jim', 'Mark', '29', '28', '27']
['27', '28', '29', 'Jim', 'Mark', 'Rick']

In [41]:
list1=["Rick","Jim","Mark","29","28","27"]
print("original list is:",list1)
list2=sorted(list1)
print(list2)

original list is: ['Rick', 'Jim', 'Mark', '29', '28', '27']
['27', '28', '29', 'Jim', 'Mark', 'Rick']

In [7]:
#sclicing of the list
list1=[10,20,30,40,50]
print(list1[1])
print(list1[0:3])
print(list1[-1])
print(list1[-4:-2])
print(list1[-5:-3])
print(list1[-4:])

20
[10, 20, 30]
50
[20, 30]
[10, 20]
[20, 30, 40, 50]

In [10]:
#concatenation of the list:
list2=[100,200,300]
print(list1+list2+[1,2,3])

[10, 20, 30, 40, 50, 100, 200, 300, 1, 2, 3]

In [11]:
print(list2*3)

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [13]:
print(100 in list2)

True

In [16]:
list1=['jone','sam','Rick','jim']
print("original list is:",list1)
print('jone' in list1)

original list is: ['jone', 'sam', 'Rick', 'jim']
True

In [17]:
#delete from the list(Del,Remove,pop)
list1=["jone","sam","rick","jim"]
print(list1)
del list1[0]
print(list1)

['jone', 'sam', 'rick', 'jim']
['sam', 'rick', 'jim']

In [18]:
list1=['jon','prajwal','pajjuhack','jully','jim']
print("original list is:",list1)
del list1[3]
print(list1)

original list is: ['jon', 'prajwal', 'pajjuhack', 'jully', 'jim']
['jon', 'prajwal', 'pajjuhack', 'jim']

In [19]:
list1=["pajjubhai","hacker","prajwal","kanchan"]
print("origuinal list is:",list1)
del list1[0:]
print(list1)

origuinal list is: ['pajjubhai', 'hacker', 'prajwal', 'kanchan']
[]

In [22]:
list=["prajwal","kanchan","mannu","krishna","radha"]
print("original list is:",list)
list.pop()
list.pop()
print(list)

original list is: ['prajwal', 'kanchan', 'mannu', 'krishna', 'radha']
['prajwal', 'kanchan', 'mannu']

In [25]:
list=["prajwal","kanchan","mannu","krishna","radha"]
print(list)
list.pop(0)
print(list)

['prajwal', 'kanchan', 'mannu', 'krishna', 'radha']
['kanchan', 'mannu', 'krishna', 'radha']

In [26]:
list1=['jone','sam','Rick','jim']
print("original list is:",list1)
a=list1.pop()
print(a)

original list is: ['jone', 'sam', 'Rick', 'jim']
jim

In [3]:
#append() function
list=[1,2,3,3]
print("original list is:",list)
list.append("prajwal")
print(list)

original list is: [1, 2, 3, 3]
[1, 2, 3, 3, 'prajwal']

In [9]:
list1=[]
for i in [1,2,3,4,5]:
    list1.append(i*2)
print(list1)

[2, 4, 6, 8, 10]

In [10]:
a=[]
for i in range(5):
    x=input("Enter the list elements:")
    a.append(x)
print(a)

['prajwal', 'kanchan', 'krishna', 'radha', 'pajju']

In [11]:
#Append,Insert,Extend
list1=[1,2,3,4,"ram","shyam","sita","radha","krishna"]
print("given list is:",list1)
list1.append("prajwal")
print(list1)

given list is: [1, 2, 3, 4, 'ram', 'shyam', 'sita', 'radha', 'krishna']
[1, 2, 3, 4, 'ram', 'shyam', 'sita', 'radha', 'krishna', 'prajwal']

In [1]:
list1=[1,2,3,4,"ram","shyam","sita","radha","krishna",(10,23,30,90)]
print("given list is:",list1)
list1.insert(4,"pajju")
print(list1)

given list is: [1, 2, 3, 4, 'ram', 'shyam', 'sita', 'radha', 'krishna', (10, 23, 30, 90)]
[1, 2, 3, 4, 'pajju', 'ram', 'shyam', 'sita', 'radha', 'krishna', (10, 23, 30, 90)]

In [2]:
#extend the list
list1=["prajwal","kanchan","vivek","krishna","radha"]
print("given list is:",list1)
list1.extend([1,2,3,4,5])
print(list1)

given list is: ['prajwal', 'kanchan', 'vivek', 'krishna', 'radha']
['prajwal', 'kanchan', 'vivek', 'krishna', 'radha', 1, 2, 3, 4, 5]

In [5]:
a=[1,2,3,4,5,'prajwal','radha','krishana','ram','sita']
print('given list is:',a)
a.insert(6,['kanchan','pajju hack','tim cook'])
print("ew list is:",a)
print(len(a[6]))

given list is: [1, 2, 3, 4, 5, 'prajwal', 'radha', 'krishana', 'ram', 'sita']
ew list is: [1, 2, 3, 4, 5, 'prajwal', ['kanchan', 'pajju hack', 'tim cook'], 'radha', 'krishana', 'ram', 'sita']
3

In [6]:
#sorted list
a=[8,6,2,4,6]
print('given list is:',a)
a.sort()
print("sorted list is:",a)

given list is: [8, 6, 2, 4, 6]
sorted list is: [2, 4, 6, 6, 8]

In [7]:
a=[8,6,2,4,6]
b=sorted(a,reverse=True)
print("sorted list is:",b)

sorted list is: [8, 6, 6, 4, 2]

In [10]:
#return none
x=[10,20,30,15,12,40,22,12]
print(x.sort())

None

In [14]:
p=a.sort()
print(p)

None

In [33]:
list1=["Rick","Jim","Mark","29","28","27"]
print("original list is:",list1)
list1.remove("28")
print(list1)

original list is: ['Rick', 'Jim', 'Mark', '29', '28', '27']
['Rick', 'Jim', 'Mark', '29', '27']

In [42]:
list1=["Rick","Jim","Mark","29","28","27"]
print("original list is:",list1)
list2=sorted(list1,reverse=True)
print(list2)

original list is: ['Rick', 'Jim', 'Mark', '29', '28', '27']
['Rick', 'Mark', 'Jim', '29', '28', '27']